body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.title-logo {
    width: 160px;
    height: 170px;
}

.box2 p{
font-size:2.7vmin;

}

hr {
    background: #bcbbbb;
    border: 0;
    height: 2px;
}

.title-logo {
    margin-top: 20px;
}

.title-super {
    font-size: 80px;
}

.text-uppercase {
    margin-bottom: 5px;
}

.col-md-4 {
    margin-bottom: 10px;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

@media screen and (max-width:750px) {
    .title-logo {
        width: 100px;
        height: 100px;
    }

    .title-super {
        font-size: 30px;
    }

    .text-muted {
        text-align: center;
        font-size: 20px;
    }

    .subtitle {
        font-size: 12px;
    }

    .text-uppercase {
        font-size: 15px;
    }

    a {
        font-size: 12px;
    }
}

@media screen and (max-width:320px) {
    .subtitle {
        font-size: 10px;
    }
}

.jumbotron {
    padding: 20px;
    border-radius:0px;
}

.front {
height:500px;
text-align: center;
background-size: cover;
padding-top:140px;

background-image: url(../images/pattern.svg); 
background-repeat: no-repeat;
margin-bottom:0px;
}

.front h1 {
    
    font-size:90px ;
    font-family:Roboto Condensed;
}

.front h2 {
    font-size:40px;
    font-family:Roboto Condensed;

}

.front2 {

    background-color: #2c3e50;
    width:100%;
    margin-bottom:0px;
    color: white;
    padding:40px;
    font-family:Raleway;
    overflow: auto;
        margin-left:auto;
    margin-right:auto;
}

.front2 p {
    font-size: 2.3em;

}

.front2 h1 {
    font-size:40px;
    color : #B6B7BB;
}

html {

    height:1300px;
}

.navbar-default {
    background-color: #1D1F20;
        font-family:Roboto Condensed;
z-index:80;
}

#particle-canvas {
  height:500px;
  padding-bottom:0px;
  padding-top:0px;
}

.medias{
    width: 60px;
    height: 60px;

}

.intro {
  font-family:Raleway;
  position:relative;
  left: 0;
  top: 40%;
  padding: 0 20px;
  width: 100%;
  color:white;
  text-align: center;
      z-index:60;
}

.intro h1 {
    font-size:90px ;
    
}

.intro h2 {
    margin-top:10px;
    font-size:40px;

}

.front3 {
    background-color: #1D1F20;
    margin-bottom:0px;
        color: white;
    font-family:Raleway;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:6%;
    padding-right:8%;
}

.front3 p {
    font-size:60px;
}

.front3 h3 {
    font-size:40px;
    padding-top:10px;
    padding-bottom:10px;
    color : #B6B7BB;

}

.signature{
    font-family: lobster;
    font-size:20px;
}

.icon-list {
font-size:35px;
line-height: 1.42857143;
}

canvas {
bottom:140px;
}

.about-me{
    line-height: 2.5em;
}

.about-me p {
    font-size: 2.5em;

}

.contact{
    font-size: 2.5em;
}

.contact div {
    line-height: 2.5em;
}

footer {

background-color:black;
height:40px;
color:white;
font-family: Raleway;
margin-bottom: 0;
overflow: hidden;

}

.bs-docs-footer {
color:white;
font-family: Raleway;
    padding:10px;

}

h4 {

color: #B6B7BB;

}

@media screen and (max-width:390px) {

.intro h2 {
    font-size:28px;
}

canvas {
    bottom:180px;
}

}


@media screen and (max-width:600px) {

.aboutfont{
font-size:2.7vmin;
}

.intro h1 {
    font-size:30px;
}

canvas {
    bottom:120px;
}

}

@media screen and (max-width:1900px) {

.aboutfont{
font-size:2.7vmin;
}

}


@media screen and (max-width:1880px) {

.front2 p {
    font-size:4.3vmin;
}

}


@media screen and (max-width:1345px) {

.front2 p {
    font-size:3.9vmin;
}

}

@media screen and (max-width:1203px) {

.front2 p {
    font-size:3.5vmin;
}

}

html {
    max-height:100%;

}